.container_carrossel {
    width: 97%;
}

.div_flex {
    display: flex;
    justify-content: center;
}

.container_slide:not(:hover) {
    opacity: 0.8;
}

.img_carrossel {
    margin-top: 5px;
    margin-left: 10px;
    width: 360px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.img_carrossel:hover {
    scale: 1.08;
    transition: 0.4s;
    border-radius: 25px;
}

.titulo_slide {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top: 15px;
}

