.container_carrossel {
    width: 97%;
}

.div_flex {
    display: flex;
    justify-content: center;
}

.container_slide:not(:hover) {
    opacity: 0.8;
}

.img_carrossel {
    margin-top: 5px;
    margin-left: 10px;
    width: 360px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.img_carrossel:hover {
    scale: 1.08;
    transition: 0.4s;
    border-radius: 10px;
}

.titulo_slide {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top: 15px;
}

.container_slide {
    position: relative;
  }
  
  .slide-content {
    position: relative;
  }
  
  .slide-name {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    visibility: hidden; 
}

.nameJogo {
    font-size: 14px;
    color: #475dda;

  }
  
  .container_slide:hover .slide-name {
    visibility: visible; 
  }
@media (max-width: 1560px) {
	.img_carrossel {
        margin-top: 5px;
        margin-left: 10px;
        width: 300px;
        height: 180px;
        border: 1px solid rgb(0, 0, 0);
    }
}
@media (max-width: 800px) {
	.img_carrossel {
        margin-top: 5px;
        margin-left: 10px;
        width: 190px;
        height: 150px;
        border: 1px solid rgb(0, 0, 0);
    }
}

