/*HEADER*/

.logotipo{
    width: 250px;
}

header section {
    font-weight: bolder;
}

.section_canto {
    margin-top: 18px;
    cursor: pointer;
}

nav {
    font-size: 1.1em;
}

a span {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.dropdown {
    width: 70px;
    height: 70px;
    background-size: 65px 65px;
    background-repeat: no-repeat;
    background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/BA2B0A0DBDAED26E6546A7533238E3F41F811DD1D3B20DF41992D856C64D9CDB/scale?width=280&aspectRatio=1.00&format=png');
}

.under {
    text-decoration: none;
    font-weight: bold;
}

/*MAIN*/

main {
    margin: 0px;
    height: 800px;
}

.img_bg {
    height: 70%;
    background-image: url("https://wallpapercrafter.com/th800/58156-the-last-of-us-games-ps-games-hd.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

/*LINK PERSONALIZADO*/

.me-auto > .nav-link {
    position: relative;
    text-decoration: none;
    text-align: center;
}

.me-auto > .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.me-auto > .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*LINK PERSONALIZADO*/